<!DOCTYPE html>
<html>
<head>
	<title>Tequila</title>
	<meta charset="utf8">
	<link rel="stylesheet" type="text/css" href="/static/skin/font.css">
	<link rel="stylesheet" type="text/css" href="/static/skin/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/skin/blue/main.css">
</head>
<body>
	<div class="page-left">
		<div class="page-left-li">
			<a href=""><img src="/static/images/mm_.jpeg" class="avatar-huge"></a>
		</div>
		<div class="page-left-li">
			<a href="" class="page-logo">受想行识</a>
		</div>
		<div class="page-left-li">
			<li><a href="">私信</a></li>
			<li><a href="">档案</a></li>
			<li><a href="">文章</a></li>
			<li><a href="">作品</a></li>
			<li><a href="">GitHub</a></li>
		</div>
		<div class="page-left-li">
			<input  name="post-search" value="" class="index-search-input" />
		</div>
	</div>
	<div class="page-right">
		<div class="right-header"></div>
		{% block content %}
			#block
		{%endblock%}
		<div class="right-footer">
			&copy;2015 zxfc.in Powered by tequiLa
		</div>
	</div>
</body>
<script type="text/javascript">
	console.log("%c打碎玉玲珑，相见别离太匆匆，折断锦芙蓉，走过了千年还两空空!","color:red");
</script>
</html>