{%extends "base.html"%}
{% block content %}
<div class="right-div-list">
	<div class="div-title">NASA操控好奇号的Linux 可能是红帽或Xfce衍生版</div>
	<div class="div-content">
	去年十月，微软CEO Satya Nadella在旧金山的活动中说： “微软热爱Linux（Microsoft loves Linux。）”这句话让诸多人感到惊喜。至此之后，您可以在众Linux和开源的会议中看到微软的身影。今年八月，在美国西雅图的LinuxCon北美 峰会上，微软以赞助商的身份出现，而与小企鹅们一块现身的Microsoft Azure也成为大会的最大亮点。
		今年十月，来自于微软开源技术中心的K. Y. Srinivasan博士也在QCon全球软件开发大会上海站给大家娓娓道来：“微软热爱Linux——我们的开源之旅”。

	事实上Hyper-V虚拟驱动在Linux内核中的旅程早在5年前就开始了，上万行的代码也表明了微软对于如何让Linux在Hyper-V的虚拟环境中跑得更好更快的决心。

	根 据各企业对Linux3.0新代码的贡献来衡量，微软是继红帽、英特尔、Novell和IBM之后的第五大Linux 3.0企业支持者。Ubuntu、SLES、RedHat、CentOS、Debian、Oracle Linux等主流Linux发行版都可以完美运行在微软的虚拟化平台Hyper-V上。

	另外一个令人振奋的事情是：运行在微软公有云平台Azure上的虚拟机中每四台就有一台是Linux！

	在QCon的演讲会上，K. Y. Srinivasan博士出于好奇问了一下有多少人知道听过”微软热爱Linux”的新闻。

	话说起来，这还是微软第一次在中国高谈微软热爱Linux，但这一点都不影响大家的热情。在问答阶段大家纷纷举手想了解微软对于Linux的支持，和Docker的合作以及.NET开源的利弊。
	</div>
</div>
{%endblock%}