{% extends "base.html" %}
{% block content %}
<div class="right-div-list">
	<div class="div-title">
		<a href="/Blog/1234343.html">NASA操控好奇号的Linux 可能是红帽或Xfce衍生版</a>
	</div>
	<div class="div-content">
		好奇号火星探测器（Curiosity rover）自2012年登陆火星以来，收集很多这个红色星球又酷又有趣的信息。而这个家伙一直是被地球这端的一个 Linux 机器远程控制着。这个操作系统可能是Red Hat 或基于 Xfce 的衍生版。 

		火 星实在太远了，因此不可能对好奇号进行直接控制，虽然这种办法是最理想的。工程师们需要在地球这边的一个模拟器里，为未来的活动预先编好程序，而他们用的 就是 Linux 计算机。到底用的是哪个 Linux 发行版现在还不清楚，貌似和 Xfce 或者 Red Hat 版本有点关系。

		Linux 在科学领域应用广泛，所以好奇号用这种操作系统实在没什么可大惊小怪的。假如用的是 Window 10 之类的系统，那才好玩。

		值得一提的是，科学家们通常是自己选择工具，而不是被机构指定使用哪种 OS 。最常用的系统是，Scientific Linux， Debian，Red Hat，Ubuntu 等等。
	</div>
	<div class="div-post-time">2015-11-15</div>
</div>
<div class="right-div-list">
	<div class="div-title">
		<a href="">NASA操控好奇号的Linux 可能是红帽或Xfce衍生版</a>
	</div>
	<div class="div-content">
		好奇号火星探测器（Curiosity rover）自2012年登陆火星以来，收集很多这个红色星球又酷又有趣的信息。而这个家伙一直是被地球这端的一个 Linux 机器远程控制着。这个操作系统可能是Red Hat 或基于 Xfce 的衍生版。 

		火 星实在太远了，因此不可能对好奇号进行直接控制，虽然这种办法是最理想的。工程师们需要在地球这边的一个模拟器里，为未来的活动预先编好程序，而他们用的 就是 Linux 计算机。到底用的是哪个 Linux 发行版现在还不清楚，貌似和 Xfce 或者 Red Hat 版本有点关系。

		Linux 在科学领域应用广泛，所以好奇号用这种操作系统实在没什么可大惊小怪的。假如用的是 Window 10 之类的系统，那才好玩。

		值得一提的是，科学家们通常是自己选择工具，而不是被机构指定使用哪种 OS 。最常用的系统是，Scientific Linux， Debian，Red Hat，Ubuntu 等等。
	</div>
	<div class="div-post-time">2015-11-15</div>
</div>
<div class="right-nav">
	<a href="">1</a>
	<a href="">2</a>
	<a href="">3</a>
	<a href="">4</a>
</div>
{%endblock%}