html{
	background: #2D4356;
	color: #FFF;
	font-size: 15px;
}
a{
	color: #158CA1;
}
a:hover{
	color: #158CA1;
}
ul,li{
	list-style: none;
}
.avatar-huge{
	width: 5em;
	height: 5em;
	border-radius: 100%;
	border: 3px solid #158CA1;
	padding: 3px;
}
.page-left{
	width: 14%;
	height:100%;
	padding: 2em 6%;
	background: url(/static/skin/blue/img/blue-pk.png) right repeat-y;
	float: left;
}
.page-right{
	width: 70%;
	float: left;
}
.page-left-li{
	width: 100%;
	margin-bottom: 1em;
	float: left;
}
.page-left-li li{
	width: 100%;
	float: left;
	height: 1.7em;
}
.page-logo{
	font-weight: bold;
}
.index-search-input{
	width: 90%;
	padding: 0.4em 5%;
	background: #202F3D;
	border:0px;
	border-radius: 3px;
	color: #FFF;
}
.right-header{
	width: 100%;
	height: 2em;
}
.right-div-list{
	width: 90%;
	padding: 0 5%;
	margin-bottom: 2.5em;
	float: left;
}

.div-title{
	width: 100%;
	float: left;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 1em;
	color: #158CA1;
}
.div-title a{

}
.div-content{
	width: 100%;
	float: left;
}
.div-post-time{
	padding-left:20px;
	background: url(/static/skin/blue/img/clock.png) no-repeat;
	margin-top: 1em;
	float: left;
}
.right-nav{
	width: 90%;
	padding: 1em 5%;
	background: #202F3D;
	float: left;
}
.right-nav a{
	padding: 0 0.6em;
	height: 1.5em;
	line-height: 1.5em;
	float: left;
	margin-right: 1em;
}
.right-footer{
	width: 90%;
	padding: 1.5em 5%;
	color: #ddd;
	float: left;
}