<!DOCTYPE html>
<html>
        <head>
                <title>DashBoard | 受想行识</title>
                <meta charset="utf-8"/>
                <link rel="stylesheet" href="/static/skin/normalize.css" type="text/css" />
                <link rel="stylesheet" href="/static/skin/font.css" type="text/css" />
                <link rel="stylesheet" href="/static/skin/default/admin.css" type="text/css" />
        </head>
        <body>
                {% include "adminHeader.html"%}
                <div class="admin-main">
                        
                </div>
        </body>
</html>