<!DOCTYPE html>
<html>
<head>
    <title>登陆</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="/static/skin/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/static/skin/font.css" type="text/css" />
    <link rel="stylesheet" href="/static/skin/default/user.css" type="text/css" />
    <link rel="shortcut icon" href="/me.png" >
</head>
<body>
<div class="header">
            <a href="">受想行识</a>
</div>
<div class="main">
    <div class="login">
        <div class="login-title">Sign in</div>
        <div class="loginbox">
            <div class="login-input">
                <input type="text" value="hau" name="usrname" class="login-name" placeholder="用户名"/>
            </div>
            <div class="login-input">
                <input type="text" name="passwd" value="123456" class="login-passwd"placeholder="密码"/>
            </div>
            <div class="login-input">
                <input type="text" name="captcha" value="" class="login-captcha" placeholder="验证码" style="width:125px; margin-right:10px;"/>
                <img src="{{captcha_src}}" class="captcha-img"/>
            </div>
            <div class="login-input">
                <input type="checkbox" name="remember_me" value='1' id="remember_me"/>
                <label for="remember_me">记住登陆状态</label>
            </div>
            <div class="login-input" style="margin-top:1em;">
                <input type="button" id="login-submit" value="登陆"/>
            </div>
        </div>
        <div class="clear">&nbsp; </div>
    </div>
    <div class="login-copy">&copy;2015 lOngmonHau.Com Powered by tequiLa</div>
</div>
</body>
            <script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                    $(document).ready(function(){
                                $(".captcha-img").click(function(){
                                            updateCaptcha();
                                });
                                $(".login-input input").keypress( function( evt ){
                                       if ( evt.keyCode == 13 ) {
                                              ajaxLogin();
                                       }
                                });
                                $("#login-submit").on("click", function(){
                                        $(this).attr("disabled","disabled");
                                        $(this).val("正在登陆...");
                                        ajaxLogin();
                                        $("#login-submit").removeAttr("disabled");
                                        $(this).val("登陆");
                                });
                    });
                    function ajaxLogin(){
                            var name = $(".login-name").val();
                            var passwd = $(".login-passwd").val();
                            var captcha = $(".login-captcha").val();
                            var remem = $("#remember_me:checked").val();
                            
                            if ( name == '' ) {
                                  alert("请输入用户名！");
                                  $(".login-name").focus();
                                  return false;
                            }
                            if ( passwd == '' ) {
                                  alert("请输入密码！");
                                  $(".login-passwd").focus();
                                  return false;
                            }
                            if ( captcha == '' ) {
                                  alert("请输入验证码！");
                                  $(".login-captcha").focus();
                                  return false;
                            }
                            var post = {};
                            post.name = name;
                            post.passwd = passwd;
                            post.captcha = captcha;
                            if ( remem !== 'undefined' ) {
                                post.remem = remem;
                            }
                            $.post("/user/login",post, function( resp ){
                                    console.log(resp);
                                    if ( resp.code == 200 ) {
                                           window.location.href = resp.go_url;
                                    } else {
                                          alert( resp.errmsg );
                                          updateCaptcha();
                                    }
                                 
                            },"json");
                            
                    }
                    function updateCaptcha(){
                            $.get("/user/captcha",function(img){
                                        $(".captcha-img").attr('src',img);
                                        $(".login-captcha").val('');
                            },'html');
                    }
            </script>
</html>