html{
	background: #f5f5f5;
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #333;
}
ul,li{
	list-style: none;
}

.main{
	width:100%;
}
.main-left{
	width:65%;
	padding: 2em 3% 2em 5%;
	box-shadow: 1px 0px 4px #666;
	float: left;
}
.main-right{
	width: 19%;
	padding:2em 4%;
	float: right;
}

.post-list{
	width: :100%;
	float: left;
	padding-bottom: 1em;
	border-bottom: 1px dashed #aaa;
	margin-bottom: 1.5em;
}
.list-title{
	width: 100%;
	height: 2em;
	font-size: 1.2em;
}
.list-summary{
	width:100%;
	line-height: 1.6em;
	color: #777;
}
.list-meta{
	width:100%;
	margin-top: 1em;
	color: #777;
}
.list-meta-postdate{
	float: left;
	height:20px;
	line-height: 20px;
	padding-left:25px;
	background: url(/static/skin/white/img/clock.png) 0 2px no-repeat;
}
.list-meta-readmore{
	float: right;
}
.list-meta-readmore a{
	color: rgb(97,204,188);
	text-decoration: underline;
}
.right-list{
	width: 100%;
}
.rlist-title{
	width: 100%;
}
.big-avatar{
	width: 2em; height: 2em;
	border-radius: 100%;
	float: left;
	margin-right:1em; 
}
a.rlist-logo{
	font-weight: bold;
	font-size: 1.2em;
	color: #000;
	float: left;
	line-height: 2em;
}