.clear{
        clear:both;
}
html{
        background:#f5f5f5;
}
.header{
        width:90%;
        padding:0.8em 5%;
        background:#333;
        box-shadow:0 1px 1px #666;
        color:#fff;
        font-size:0.8em;
}
.header-nav{
        float:left;
}
.header-nav a{
        color:#fefefe;
        margin-right:2em;
}
.header-user{
        float:right;
}
.header-user a{
        color:#fefefe;
}
.admin-main{
        width:90%;
        padding:2em 5%;
}

#markdown-editor{
        width:60%;
        height:200em;
}