.left{
	float:left;
}
.right{
	float:right;
}
html{
	
}
.avatar-big{
	width: 4em;
	height: 4em;
	border-radius: 100%;
}
ul,li{
	list-style: none;
}
.clear{
	clear: both;
}

.page{
	width: 100%;
	float: left;
	background: #f5f5f5;
	box-shadow: 1px 0 3px #666;
}
.header{
	width:86%;
	padding: 0 7%;
}
.header-logo{
	width: 74%;
	padding: 0.5em 0;
	float: left;
}
.header-logo-title{
	float: left;
	line-height: 2em;
	height:2em;
	font-weight: bold;
	width: 20%;
}
.header-search-blank{
	float: right;
	width: 78%;
	padding: 0 1%;
	background: #dedede;
	border-radius: 2px;
	height: 2em;
}
.header-search-input{
	border:0px;
	height: 2em;
	background: url(/static/skin/default/img/ic_search_black_24dp_1x.png) right no-repeat;
	float: left;
	width: 100%;
}
.header-icon{
	width: 25%;
	height: 3em;
	float: right;
}
.open-collaspe-a{
	width: 24px;
	height: 24px;
	margin-top: -12px;
	position: relative;
	top:50%;
	float: right;
	background: url(/static/skin/default/img/ic_view_compact_black_24dp_1x.png) no-repeat;
}

.main{
	width:86%;
	height: 18em;
	background: #607D8B;
	padding: 3.5em 7%;
}
.collaspe-page{
	width: 11%;
	padding:0 2%;
	height: 100%;
	float: right;
	display: none;
}
.main-list{
	width:70%;
	padding: 1em 2%;
	background: #FFF;
	box-shadow: 1px 0 3px #666;
	margin-bottom: 3em;
}
.main-navbar{
	width:16%;
	font-size: 0.9em;
}

.post-list{
	width: 100%;
	margin-bottom: 2em;
	border-bottom: 1px solid #aaa;
	padding-bottom: 2em;
}

.list-title{
	width: 100%;
	float: left;
	font-size: 1.6em;
	line-height: 1.3em;
	color: #232323;
	margin-bottom: 0.7em;
}
.list-content{
	color: #454545;
	line-height: 1.8em;
	padding-left:1.4em;
	font-size: 0.95em;
	border-left:6px solid #3BAEBE;
}
.post-content{
	padding: 0 1em;
	border:0px;
}
.list-meta{
	width: 100%;
	margin-top: 2em;
	float: left;
}
.list-meta span{
	float: left;
	margin-right: 1em;
}
.list-meta a{

}
.comment-header{
	width: 100%;
	padding-top: 1em;
	border-top:1px solid #aaaaa7;
}
.comment-header span{
	font-weight: bold;
}
.comment-textarea{
	width: 100%;
	float: left;
	margin-top: 0.8em;
}
.comment-textarea-input{
	width:78%;
	height: 2em;
	padding: 0.5em 2%;
	border:0px;
	background: #f5f5f5;
	box-shadow: 0px 0px 5px #888;
	resize:none;
	float: left;
	border-radius: 3px;
}
.comment-submit-a{
	width:10%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	box-shadow: 0 0 4px #888;
	border-radius: 3px;
	float: left;
	margin-left: 5%;
	background: #f5f5f5;
}


/** main right slide bar */
.navbar-avatar{
	width: 100%;
	margin-bottom: 1em;
	float: left;
}
.navbar-usrname{
	width: 100%;
	float: left;
	margin: 0 auto;
	color: #dedede;
	padding: 1em 0;
	border-bottom: 1px solid #4D646F;
}
.navbar-usrname a{
	color: #f5f5f5;
	font-weight: bold;
}
.navbar-usrname a span{
	float: left;
	margin-top: 2px;
}
.navbar-pages{
	width: 100%;
	padding-bottom: 1em;
	float: left;
}
.navbar-pages li{
	width: 100%;
	height: 2em;
	line-height: 2em;
	list-style-type: circle;
}
.navbar-pages li a{
	color: #f5f5f5;
}

.navbar-class-list{
	width: 100%;
	float: left;
	margin-top: 3em;
}
.navbar-class-list li{
	color: #dedede;
	width: 100%;
	line-height: 2em;
}


/** 折页 */
.collaspe-header{
	width: 100%;
	height: 3em;
	line-height: 3em;
}
.collaspe-list{
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 1em;
}
.collaspe-list li{
	width: 100%;
	height: 2.2em;
	line-height: 2.2em;
	border-bottom: 1px dashed #cdcdcd;
	text-align: right;
	color: #666;
}
.collaspe-list li a{
	float: left;
	color: #000;
	margin-right: 0.6em;
}