<!DOCTYPE html>
<html>
<head>
	<head>
		<title>{% block headTitle %}Index{% endblock %}</title>
		<meta charset="utf8"/>
		{% block headCssLink %}
			<link rel="stylesheet" type="text/css" href="/static/skin/font.css">
			<link rel="stylesheet" type="text/css" href="/static/skin/normalize.css">
			<link rel="stylesheet" type="text/css" href="/static/skin/white/main.css">
		{% endblock %}
	</head>
</head>
<body>
	<div class="main">
		<div class="main-left">
			{% block content %}
				<!--BLOCK INSERT CONTENT-->
			{% endblock %}
		</div>
		<div class="main-right">
			<div class="right-list">
				<div class="rlist-title">
					<a href="" class="rlist-logo">受想行识</a>
				</div>
			</div>
		</div>
	</div>
	{% block footer %}
	<div class="footer"></div>
	{% endblock %}
</body>
</html>